body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;


}

ul >li{
  list-style: none;
  margin-left: 10px;
}



.learn-wrap{
  background-color: rgb(9, 9, 73);
  width: 200px;
  height: 100px;
  color: white;
}
.learn-wrap >p >a{
  color: white;
}

footer{
  background-color: black;
}